
    <div class="container">
        <div class="header clearfix">
            <h3 id="product-name" >  </h3>
        </div>

        <div class="bs-example" data-example-id="panel-without-body-with-table">
            <div class="panel panel-default">
                <div class="panel-heading"> <h5 id="model" > Model : ... </h5></div>
                <table class="table">
                    <thead>
                        <tr>
                            <th>SKU</th>
                            <th>Type</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
			    <td id="sku"></td>
			    <td id="type"></td>
			    <td id="price"></td>
                        </tr>
                    </tbody>
                </table>
                <div id="descritpion"></div>
		        <img src="" class="img-polaroid">
            </div>
        </div>
    </div>
